*, *::before, *::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  height: 100%;
  width: 50%;
  background-color: #0F0F0F;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header, .footer {
  width: 100%;
  display: flex;
  height: 5%;
  flex-grow: 0;

}
.footer {
  flex-grow: 0;
  align-items: center;
}

.main {
  height: 90%;
  width: 100%;
  background-color: white;
}

.chatbox {
  background-color: #131719;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

h1, p {
  margin: 0 auto;
  text-align: center;
}

.chatHeader, .userInput {
  height: 7.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gptOutput {
  overflow-y: auto;
  height: 85%;
  padding: 1.25rem 1.25rem 0 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1rem 1rem 0 1rem;
  margin: 0;
  font-family: inherit;
  font-size: 18px;
  color: inherit;
}

.userInput {

}

.searchBar, #userInputField {
  height: 100%;
  width: 100%;
}

.messageBubble {
  width: max-content;
  max-width: 85%;
  display: flex;
  padding: 0.75rem;
  gap: 1rem;
  border-radius: 0.25rem;
  background-color: #14181a;
  word-wrap: break-word;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.avatar {
  flex-shrink: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.messageContent {
  align-self: flex-start;
  word-break: break-word;
  text-align: justify;
  overflow-wrap: break-word;
  padding-right: 0.5rem;
  font-size: 18px;
}

.header {
  display: flex;
  align-items: center;
}

.queryMsg {
  color: purple;
  font-weight: bold;
}

.responseMsg {
  margin-left: 1rem;
  max-width: 90%;
}